$orange-100 = #fffae6;
$orange-200 = #ff880033;
$orange-300 = #ff8a00;

$black = #2d2a40;
$white = #fff;
$gray-100=#eee;
$gray-200 = #ccc;

$green-100 = #1bd97b1a;
$green-200 = #1bd97b;

@font-face 
    font-family: InterUI;
    src: url("./assets/fonts/InterUI/Inter-Regular.ttf");

@font-face 
    font-family: InterUI;
    src: url("./assets/fonts/InterUI/Inter-Medium.ttf");
    font-weight: 500;

@font-face 
    font-family: InterUI;
    src: url("./assets/fonts/InterUI/Inter-Bold.ttf");
    font-weight: bold;

@font-face
    font-family: Montserrat;
    src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: bold;

* 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: InterUI, sans-serif;

body 
    background: $orange-100;
    min-height: 100vh;
    padding: 1.25rem 3.125rem;

.container
    width: 1100px;
    margin: 0 auto;
    background: $white;
    border-radius: .25rem;
    box-shadow: 0.125rem 0.625rem 1.25rem 0 rgba(255, 138, 0, 0.10);
    padding: 1.875rem 1.25rem 1.25rem 2.5rem;

.back-button 
    font-size: .875rem
    text-decoration: none
    color: $black
    display: inline-flex
    align-items: center
    font-weight: 500
    span 
        margin-left: .375rem
        opacity: 0.6

.hidden
    visibility: hidden

.bold
    font-weight: bold
    color: $black
    opacity: 0.6