.section
    &--finish
        display: flex
        flex-direction: column
        justify-content center
        align-items center
    &__content
        margin: 1.625rem 0 3.75rem
    &__item
        font-size: 0.875rem
        p
            margin-top: 0.625rem
            opacity: 0.6
